@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,300&display=swap");
.red {
  color: #ff0019;
}

.blue {
  color: #00005f;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.orange {
  color: #fd7e14;
}

.green {
  color: #198754;
}

.gray {
  color: #6c757d;
}

.yellow {
  color: #ffc107;
}

.cyan {
  color: #009191;
}

.bg-black {
  background-color: #000;
}
.bg-red {
  background-color: #ff0019;
}
.bg-blue {
  background-color: #00005f;
}
.bg-cyan {
  background-color: #009191;
}
.bg-yellow {
  background-color: #ffc107;
}
.bg-gray {
  background-color: #6c757d;
}
.bg-lightgray {
  background-color: #e9ecef;
}
.bg-white {
  background-color: #fff;
}
.bg-orange {
  background-color: #fd7e14;
}
.bg-green {
  background-color: #198754;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

button {
  background-color: #009191;
}
button:hover {
  background-color: #009191;
}

h1 {
  color: #000;
}

h2 {
  color: #000;
}

h3 {
  color: #000;
}

h4 {
  color: #000;
}

h5 {
  color: #000;
}

p {
  color: #000;
}

ul li {
  list-style: none;
  text-decoration-color: none;
}

.main-container {
  padding-right: 4%;
  padding-left: 4%;
}

.fit {
  width: fit-content;
}

.max {
  width: max-content;
}

.w-1 {
  width: 10%;
}
.w-2 {
  width: 20%;
}
.w-3 {
  width: 30%;
}
.w-4 {
  width: 40%;
}
.w-5 {
  width: 50%;
}
.w-6 {
  width: 60%;
}
.w-7 {
  width: 70%;
}
.w-8 {
  width: 80%;
}
.w-9 {
  width: 90%;
}
.w-10 {
  width: 100%;
}

.max-w-1 {
  max-width: 100px;
}
.max-w-2 {
  max-width: 200px;
}
.max-w-3 {
  max-width: 300px;
}
.max-w-4 {
  max-width: 400px;
}
.max-w-5 {
  max-width: 500px;
}
.max-w-6 {
  max-width: 600px;
}
.max-w-7 {
  max-width: 700px;
}
.max-w-8 {
  max-width: 800px;
}
.max-w-9 {
  max-width: 900px;
}
.max-w-10 {
  max-width: 1000px;
}
.max-h-1 {
  max-height: 100px;
}
.max-h-2 {
  max-height: 200px;
}
.max-h-3 {
  max-height: 300px;
}
.max-h-4 {
  max-height: 400px;
}
.max-h-5 {
  max-height: 500px;
}
.max-h-6 {
  max-height: 600px;
}
.max-h-7 {
  max-height: 700px;
}
.max-h-8 {
  max-height: 800px;
}
.max-h-9 {
  max-height: 900px;
}
.max-h-10 {
  max-height: 1000px;
}

.min-w-1 {
  min-width: 100px;
}
.min-w-2 {
  min-width: 200px;
}
.min-w-3 {
  min-width: 300px;
}
.min-w-4 {
  min-width: 400px;
}
.min-w-5 {
  min-width: 500px;
}
.min-w-6 {
  min-width: 600px;
}
.min-w-7 {
  min-width: 700px;
}
.min-w-8 {
  min-width: 800px;
}
.min-w-9 {
  min-width: 900px;
}
.min-w-10 {
  min-width: 1000px;
}
.min-h-1 {
  min-height: 100px;
}
.min-h-2 {
  min-height: 200px;
}
.min-h-3 {
  min-height: 300px;
}
.min-h-4 {
  min-height: 400px;
}
.min-h-5 {
  min-height: 500px;
}
.min-h-6 {
  min-height: 600px;
}
.min-h-7 {
  min-height: 700px;
}
.min-h-8 {
  min-height: 800px;
}
.min-h-9 {
  min-height: 900px;
}
.min-h-10 {
  min-height: 1000px;
}

.box {
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px;
}
.box-transparent {
  border: transparent;
}
.box1 {
  border: solid 1px;
}
.box2 {
  border: solid 2px;
}
.box3 {
  border: solid 3px;
}
.box4 {
  border: solid 4px;
}
.box5 {
  border: solid 5px;
}
.box6 {
  border: solid 6px;
}
.box7 {
  border: solid 7px;
}
.box8 {
  border: solid 8px;
}
.box9 {
  border: solid 9px;
}
.box10 {
  border: solid 10px;
}

.circle {
  border: solid black 1px;
  border-radius: 50%;
  padding: 20px;
  width: fit-content;
  height: fit-content;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.p-1 {
  padding-right: 10px;
  padding-left: 10px;
}
.p-2 {
  padding-right: 20px;
  padding-left: 20px;
}
.p-3 {
  padding-right: 30px;
  padding-left: 30px;
}
.p-4 {
  padding-right: 40px;
  padding-left: 40px;
}
.p-5 {
  padding-right: 50px;
  padding-left: 50px;
}
.p-6 {
  padding-right: 60px;
  padding-left: 60px;
}
.p-7 {
  padding-right: 70px;
  padding-left: 70px;
}
.p-8 {
  padding-right: 80px;
  padding-left: 80px;
}
.p-9 {
  padding-right: 90px;
  padding-left: 90px;
}
.p-10 {
  padding-right: 100px;
  padding-left: 100px;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}
.pr-6 {
  padding-right: 60px;
}
.pr-7 {
  padding-right: 70px;
}
.pr-8 {
  padding-right: 80px;
}
.pr-9 {
  padding-right: 90px;
}
.pr-10 {
  padding-right: 100px;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}
.pl-6 {
  padding-left: 60px;
}
.pl-7 {
  padding-left: 70px;
}
.pl-8 {
  padding-left: 80px;
}
.pl-9 {
  padding-left: 90px;
}
.pl-10 {
  padding-left: 100px;
}

body {
  display: flex;
}

@media screen and (min-width: 880px) {
  section {
    display: flex;
  }
}
h1 {
  font-size: 3rem;
}

.tajukbesar {
  font-size: 3.5rem;
  margin-top: 100px;
}

@media screen and (min-width: 880px) {
  .tajukbesar {
    position: fixed;
    left: -18vw;
    right: 0;
  }
}
.navpage ul li {
  list-style: circle;
}

.navpage ul li a {
  color: black;
}

.nav-side {
  position: fixed;
  left: 85vw;
  right: 0;
  height: 100vh;
  background-color: #212529;
}

.nav-item {
  padding-top: 60px;
  font-size: 1.3rem;
}

.app-button {
  background-color: white;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  .nav-side {
    display: none;
  }
}
#fav-app {
  display: flex;
  margin-left: 330px;
  margin-top: 390px;
}

.app-container {
  margin-left: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.app-button img {
  max-width: 30px;
}

@media screen and (max-width: 1000px) {
  #fav-app {
    display: none;
  }
}
form {
  width: 100%;
}

#search {
  width: 600px;
  height: 45px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 400px) {
  #search {
    width: 300px;
  }
  h1 {
    text-align: left;
    padding-left: 40px;
  }
}
@media screen and (min-width: 880px) {
  #search {
    margin-top: 280px;
    position: fixed;
    left: 21vw;
    right: 0;
  }
}
code {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.doc-thing {
  padding-top: 50px;
}

.doc-thing h3 {
  font-style: italic;
}/*# sourceMappingURL=main.css.map */